:root {
  --blur-top-from: var(--color-primary-blue);
  --blur-top-to: var(--color-primary-purple);
  --blur-bottom-from: transparent;
  --blur-bottom-to: transparent;
}

@media (max-width: 600px) {
  .relative-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
