h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  overflow-wrap: anywhere;
  line-height: 2.75rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.content {
  padding: 3.5rem;
}

@media (min-width: 601px) {
  .content {
    padding: 7rem;
  }
}

.content a:hover,
.founder a:hover {
  background-color: var(--color-primary-green);
}

.content a:focus,
.founder a:focus {
  box-shadow: 0 0 0 1px white, 0 0 0 3px black;
}

.purple-bg {
  position: relative;
  background-color: var(--color-primary-black);
}

/**
 *
 *
 *    INTRO SECTION
 *
 *
 */

#intro .content-container {
  padding: 0;
  background-image: url(../assets/images/man_glasses.jpg);
  background-repeat: no-repeat;
  background-size: 1350px;
  background-position-x: 67%;
  padding-top: 275px;
  background-color: #00ffb1;
}

#intro .content {
  background-color: rgba(0, 0, 0, 0.8);
}

#intro h2 {
  line-height: 2.5rem;
}

@media (min-width: 769px) {
  #intro .content-container {
    background-position-x: 100%;
  }
}

@media (min-width: 1201px) {
  #intro {
    background-repeat: no-repeat;
    background-image: url(../assets/images/man_glasses_feathered.jpg);
    background-position-x: calc(-300px + 40%);
    background-size: 800px;
  }

  #intro .content-container {
    background: none;
    padding-top: 2.5rem;
    padding-bottom: 5rem;
    max-width: 1280px;
    margin: 0 auto;
  }

  #intro .content {
    background-color: transparent;
    max-width: 600px;
    margin-left: auto;
    padding-bottom: 50px;
  }

  #intro h2 {
    margin-bottom: 2rem;
  }

  .purple-bg::before {
    content: '';
    position: absolute;
    transform: translateX(-50%);
    height: 300px;
    width: 900px;
    left: 30%;
    bottom: 100px;
    top: auto;
    background-color: var(--color-primary-purple);
    filter: blur(250px);
  }
}

@media (min-width: 1921px) {
  #intro {
    background-position-x: calc(-200px + 40%);
  }
}

/**
 *
 *
 *    OPSOMMING SECTION
 *
 *
 */

#opsomming .content {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

#opsomming .content::before,
#opsomming .content::after {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  transform: translateX(-50%);
  z-index: -1;
}

#opsomming .content::before {
  height: 300px;
  top: -140px;
  left: 70%;
  background: linear-gradient(
    40deg,
    var(--color-primary-blue) 30%,
    var(--color-primary-green)
  );
  filter: blur(150px);
}

#opsomming .content::after {
  height: 100px;
  left: 20%;
  bottom: 0px;
  top: auto;
  background-color: var(--color-primary-purple);
  filter: blur(85px);
}

.text-bg-black {
  background-color: var(--color-primary-black);
  box-shadow: -12px 0 0 var(--color-primary-black),
    12px 0 0 var(--color-primary-black);
}

#opsomming h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

#opsomming a {
  margin: 3.5rem auto 2.5rem;
  width: max-content;
  display: block;
}

@media (min-width: 1201px) {
  #opsomming .content {
    padding: 8rem;
  }

  #opsomming .content-container {
    max-width: 1600px;
    margin: 0 auto;
  }

  #opsomming .flex-content {
    display: flex;
    align-items: center;
    gap: 4rem;
  }

  #opsomming .flex-paragraphs {
    display: flex;
    gap: 4rem;
  }

  #opsomming h2 {
    margin: 0;
    flex-shrink: 0.8;
  }

  #opsomming h3 {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  #opsomming .content::before,
  #opsomming .content::after {
    content: none;
  }
}

/**
 *
 *
 *    METHODIEK SECTION
 *
 *
 */
#methodiek {
  display: flex;
  flex-direction: column;
}

#methodiek .content {
  position: relative;
  padding-top: 0;
  background-color: white;
}

.img-laptop {
  height: 250px;
  background-image: url(/assets/images/man_laptop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#methodiek h2 {
  position: relative;
  padding: 0.5rem 1rem;
  margin-top: -3rem;
  margin-bottom: 3.5rem;
  font-size: 2rem;
  line-height: 2.25rem;
}

#methodiek h2::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  bottom: -25px;
  background-color: var(--color-primary-green);
}

#methodiek p {
  color: var(--color-primary-black);
}

#methodiek a {
  text-decoration: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
}

@media (min-width: 1201px) {
  #methodiek {
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url(/assets/images/man_laptop-feathered.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .img-laptop {
    display: none;
  }

  #methodiek .content {
    margin-top: 120px;
    max-width: 60ch;
    margin-bottom: 100px;
    margin-right: 100px;
    padding: 0 3.5rem 3.5rem;
  }
}

/**
 *
 *
 *    FOUNDERS SECTION
 *
 *
 */
#founders {
  position: relative;
  background-color: #151a17;
  padding-bottom: 12rem;
}

@media (max-width: 1200px) {
  #founders .founder:not(:nth-child(1)) {
    display: none;
  }

  #founders .founder {
    margin: 0 auto;
  }

  .alles_is_code {
    display: none;
  }

  #founders .reviews {
    bottom: -75px;
  }
}

@media (min-width: 1201px) {
  #founders {
    background-color: transparent;
    overflow: hidden;
  }

  #founders .founders {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin-top: 15rem;
    padding: 0 5rem;
  }

  #founders .alles_is_code {
    position: relative;
    padding-top: 15rem;
    display: flex;
    justify-content: center;
  }

  #founders .alles_is_code h2 {
    font-size: 5rem;
    line-height: 5rem;
    text-align: right;
    display: inline-block;
  }

  #founders::before {
    content: '';
    position: absolute;
    width: min(100%, 1600px);
    height: 700px;
    border-radius: 50%;
    bottom: 0;
    opacity: 0.6;
    background: linear-gradient(
      var(--color-primary-green) 50%,
      var(--color-primary-blue) 50%
    );
    filter: blur(300px);
    left: 40%;
  }
}

/**
 *
 *
 *    ALLES IS CODE (MOBILE ONLY)
 *
 *
 */
#alles_is_code {
  background-color: var(--color-primary-black);
  position: relative;
  height: 500px;
  overflow: hidden;
}

#alles_is_code h2 {
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  margin: auto;
  text-align: right;
}

#alles_is_code .green,
.alles_is_code .green {
  color: var(--color-primary-green);
}

#alles_is_code .strike,
.alles_is_code .strike {
  text-decoration: line-through;
  text-decoration-color: var(--color-primary-purple);
  text-decoration-thickness: 6px;
}

#alles_is_code::before,
#alles_is_code::after {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  transform: translateX(-50%);
  z-index: 0;
}

#alles_is_code::before {
  height: 90px;
  top: 70px;
  left: 70%;
  background: var(--color-primary-green);
  filter: blur(100px);
}

#alles_is_code::after {
  height: 60px;
  left: 33%;
  bottom: 70px;
  top: auto;
  background-color: var(--color-primary-blue);
  filter: blur(85px);
}

@media (min-width: 1201px) {
  #alles_is_code {
    display: none;
  }
}

.copyright {
  padding: 1.5rem 0;
  background-color: #151a17;
}

.copyright p {
  font-family: Helvetica Neue, sans-serif;
  font-size: 0.75rem;
  max-width: var(--content-width);
  margin: 0 auto;
  padding: 0 2rem;
}

@media (min-width: 1201px) {
  .copyright p {
    padding: 0;
  }
}
