header {
  background-color: #151a17;
  width: 100%;
  display: flex;
  padding: 1.5rem 1.5rem 1rem;
  align-items: center;
  justify-content: space-between;
}

.hamburger {
  height: 15px;
}

.hamburger-icon {
  height: 0;
  width: 22px;
  box-shadow: 0 0 0 1.5px white, 0 7px 0 1.5px white, 0 14px 0 1.5px white;
}

.header-logo img {
  display: block;
  width: 200px;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  overflow-wrap: anywhere;
  line-height: 2.75rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 16px;
}

.content {
  padding: 3.5rem;
}

.content {
  background-color: rgba(0, 0, 0, 0.8);
}

button {
  color: var(--color-text);
  background-color: var(--color-secondary-green);
  padding: 0.75rem 1.25rem;
  margin-top: 2rem;
  outline: none;
  border: none;
}

/**
 *
 *
 *    INTRO SECTION
 *
 *
 */

#intro {
  padding: 0;
  background-image: url(../assets/images/man_glasses.png);
  background-repeat: no-repeat;
  background-size: 1350px;
  background-position-x: 67%;
  padding-top: 275px;
  background-color: #00ffb1;
}

#intro h2 {
  line-height: 2.5rem;
}

/**
 *
 *
 *    OPSOMMING SECTION
 *
 *
 */

#opsomming .content {
  overflow: hidden;
  position: relative;
  background-color: var(--color-primary-black);
  z-index: -2;
}

#opsomming .content::before,
#opsomming .content::after {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  transform: translateX(-50%);
  z-index: -1;
}

#opsomming .content::before {
  height: 300px;
  top: -140px;
  left: 70%;
  background: linear-gradient(
    40deg,
    var(--color-primary-blue) 30%,
    var(--color-primary-green)
  );
  filter: blur(150px);
}

#opsomming .content::after {
  height: 100px;
  left: 20%;
  bottom: 0px;
  top: auto;
  background-color: var(--color-primary-purple);
  filter: blur(85px);
}

.text-bg-black {
  background-color: var(--color-primary-black);
  box-shadow: -12px 0 0 var(--color-primary-black),
    12px 0 0 var(--color-primary-black);
}

#opsomming h3 {
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

#opsomming button {
  margin: 3.5rem 0 2.5rem;
}

/**
 *
 *
 *    METHODIEK SECTION
 *
 *
 */
#methodiek .content {
  position: relative;
  padding-top: 0;
  margin-top: -5rem;
  background-color: transparent;
}

.img-laptop {
  height: 250px;
  background-image: url(/assets/images/man_laptop.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#methodiek h2 {
  position: relative;
  padding: 0.5rem 1rem;
  margin-top: -3rem;
  margin-bottom: 3.5rem;
  font-size: 2rem;
  line-height: 2.25rem;
}

#methodiek h2::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 100%;
  left: 0;
  bottom: -25px;
  background-color: var(--color-primary-green);
}

#methodiek p {
  color: var(--color-primary-black);
}

#methodiek button,
#founders button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  z-index: 1;
}

/**
 *
 *
 *    FOUNDERS SECTION
 *
 *
 */
#founders {
  position: relative;
  background-color: #151a17;
  padding-bottom: 5rem;
  border-top: 4rem solid black;
}

#founders > *:not(img, h2) {
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

#founders img {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
}

#founders h2 {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  margin-top: -2rem;
  font-size: 2rem;
}

#founders button {
}

/**
 *
 *
 *    ALLES IS CODE
 *
 *
 */
#alles_is_code {
  background-color: var(--color-primary-black);
  position: relative;
  height: 500px;
  overflow: hidden;
}

#alles_is_code h2 {
  position: absolute;
  width: max-content;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  margin: auto;
  text-align: right;
}

#alles_is_code .green {
  color: var(--color-primary-green);
}

#alles_is_code .strike {
  text-decoration: line-through;
  text-decoration-color: var(--color-primary-purple);
  text-decoration-thickness: 6px;
}

#alles_is_code::before,
#alles_is_code::after {
  content: '';
  position: absolute;
  width: 100%;
  inset: 0;
  transform: translateX(-50%);
  z-index: 0;
}

#alles_is_code::before {
  height: 90px;
  top: 70px;
  left: 70%;
  background: var(--color-primary-green);
  filter: blur(100px);
}

#alles_is_code::after {
  height: 60px;
  left: 33%;
  bottom: 70px;
  top: auto;
  background-color: var(--color-primary-blue);
  filter: blur(85px);
}

/**
 *
 *
 *    FOOTER
 *
 *
 */
footer {
  background-color: var(--color-primary-black);
  position: relative;
  padding: 5rem 0;
}

.socials-container {
  display: flex;
  position: absolute;
  gap: 1.5rem;
  margin-top: -1.5rem;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.socials-container img {
  width: 50px;
}

.reference-links {
  font-family: Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  gap: 1.5rem;
  color: var(--color-text);
  text-align: center;
}

.footer-logo {
  display: block;
  position: relative;
  margin: 5rem auto;
  width: max-content;
}

.footer-logo img {
  width: 100px;
}

.footer-logo::after {
  content: '';
  position: absolute;
  height: 8px;
  width: 50%;
  bottom: -8px;
  right: 0;
  background-color: white;
}
