---
import BlurLayout from '../../layouts/blur.astro';

const [contact] = Astro.fetchContent('../../content/contact/contact.md');
---
<style>
  .contact p {
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
  }
  .contact p:not(:last-child) {
    margin-bottom: 2rem;
  }

  @media (min-width: 601px) {
    .contact p {
      font-size: 1.5rem;
    }
  }
</style>
<link rel="stylesheet" href="/style/contact.css" />
<BlurLayout subtitle={contact.description} heading={contact.heading}>
<div class="contact">
  <p>{contact.email}</p>
</div>
</BlurLayout>