---
import * as path from 'node:path';
import BlurLayout from '../../layouts/blur.astro';
import Dienst from '../../components/dienst.astro';

const mds = Astro.fetchContent('../../{content,pages/preview__}/diensten/**/*.md');
const diensten = mds.filter(md => path.dirname(md.file.pathname).endsWith('pages/preview__/diensten'));
const [content] = mds.filter(md => path.dirname(md.file.pathname).endsWith('content/diensten'));
---
<style>
  .diensten {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    justify-items: center;
    justify-content: center;
    gap: 5rem;
    margin: 0 auto 10rem auto;
  }

  .link {
    text-decoration: none;
    color: white;
  }
</style>
<link rel="stylesheet" href="/style/diensten.css" />
<BlurLayout subtitle={content.subtitle} heading={content.heading}>
<div class="diensten">
  {diensten.map(dienst =>
    <a class="link" href={dienst.url}>
      <Dienst content={dienst} class="dienst"></Dienst>
    </a>
  )}
</div>
</BlurLayout>