---
import * as path from 'node:path';
import BlurLayout from '../../layouts/blur.astro'
import Founder from '../../components/founder.astro';

const content = Astro.fetchContent('../../content/**/*.md');
const founders = content.filter(md => path.dirname(md.file.pathname).endsWith('founders')).sort((a,b) => {
  const orderA = a.order || 9999;
  const orderB = b.order || 9999;
  return orderA - orderB;
});
const [team] = content.filter(md => path.dirname(md.file.pathname).endsWith('team'));
---
<style>
  .team {
    position: relative;
    z-index: 1;
  }

  .team::before {
    content: '';
    position: absolute;
    width: min(100%, 1600px);
    height: 550px;
    border-radius: 50%;
    top: 150px;
    opacity: 0.6;
    background: linear-gradient( var(--color-primary-green) 50%, var(--color-primary-blue) 50% );
    filter: blur(225px);
    left: 33%;
  }

  .relative-wrapper {
    position: relative;
  }

  .founders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    max-width: var(--page-max-width);
    margin: 5rem auto 10rem auto;
  }

  @media (min-width: 601px) {
    .founders {
      padding: 0 1rem;
    }
  }
</style>
<link rel="stylesheet" href="/style/team.css" />
<BlurLayout heading={team.heading}>
<div class="founders">
  {founders.map(founder => (
    <Founder founder={founder} />
  ))}
</div>
</BlurLayout>