---
let title = 'Code.Founders_';
---
<style>

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--color-primary-black);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  h1 {
    font-family: HelveticaNeue, serif;
    font-weight: bold;
    font-size: 3rem;
  }
  #cursor {
    text-shadow: 0px 2px white
  }
</style>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Code.Founders. If you can code, you can do anything.">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/style/global.css">
</head>
<body>
<h1>
  <span id="cursor">_</span>
</h1>
<script>
  const headingChars = 'Code.Founders'.split('');
  const cursorEl = document.getElementById('cursor');
  setInterval(() => {
    cursorEl.style.visibility = getComputedStyle(cursorEl).getPropertyValue('visibility') === 'hidden' ? '' : 'hidden';
  }, 500);

  (async function() {
    let green = false;
    for (let char of headingChars) {
      const charEl = document.createElement('span');
      charEl.innerText = char;
      if (green)
        charEl.style.color = 'var(--color-primary-green)';
      if (char === '.')
        green = true;

      cursorEl.insertAdjacentElement('beforebegin', charEl);
      await new Promise(resolve => setTimeout(resolve, 50 + Math.floor(Math.random() * 300)));
    }
  })();
</script>
</body>
</html>