---
import * as path from 'node:path';
import BlurLayout from '../layouts/blur.astro'
import Founder from '../components/founder.astro';
import SplitNewlines from '../utils/split-newlines.jsx';

const content = Astro.fetchContent('../content/**/*.md');
const founders = content.filter(md => path.dirname(md.file.pathname).endsWith('founders')).sort((a,b) => {
  const orderA = a.order || 9999;
  const orderB = b.order || 9999;
  return orderA - orderB;
});
const [team] = content.filter(md => path.dirname(md.file.pathname).endsWith('team'));
---
<style>
  .team {
    position: relative;
    z-index: 1;
  }

  .team::before {
    content: '';
    position: absolute;
    width: min(100%, 1600px);
    height: 550px;
    border-radius: 50%;
    top: 150px;
    opacity: 0.6;
    background: linear-gradient( var(--color-primary-green) 50%, var(--color-primary-blue) 50% );
    filter: blur(225px);
    left: 33%;
  }

  .relative-wrapper {
    position: relative;
  }

  .intro {
    position: relative;
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: center;
    max-width: 60ch;
    margin: 0 auto 5rem auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .shirt {
    width: 750px;
    position: absolute;
    top: -375px;
    right: -350px;
    z-index: -1;
    filter: drop-shadow(0px 8px 10px black)
  }

  @media (min-width: 601px) {
    .intro {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .founders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    max-width: var(--page-max-width);
    margin: 5rem auto 10rem auto;
  }

  @media (min-width: 601px) {
    .founders {
      padding: 0 1rem;
    }
  }
</style>
<link rel="stylesheet" href="/style/team.css" />
<BlurLayout heading={team.heading}>
  <div class="relative-wrapper">
    <div class="intro">
      <img alt="code-founders t-shirt" class="shirt" src="/assets/images/t-shirt.png" />
      <SplitNewlines content={team.description}></SplitNewlines>
    </div>
  </div>
  <div class="founders">
    {founders.map(founder => (
      <Founder founder={founder} />
    ))}
  </div>
</BlurLayout>