---
const {href, label, external, class: klass} = Astro.props;

const attrs = external ? {
  rel: "noopener",
  target: "_blank"
} : {};
---
<style>
a {
  font-family: HelveticaNeue, sans-serif;
  display: inline-block;
  color: var(--color-text);
  text-decoration: none;
  background-color: var(--color-secondary-green);
  padding: 0.75rem 1.25rem;
  font-weight: bold;
  margin-top: 2rem;
  outline: none;
  border: none;
}
</style>
<a class={klass} href={href} {...attrs}>{label}</a>