<style>
ul {
  font-family: Helvetica Neue, sans-serif;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 2rem;
  padding: 1rem 2rem;
  align-items: center;
  margin-top: 3rem;
}

a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

@media (min-width: 1200px) {
  ul {
    flex-direction: row;
    justify-content: space-between;
    gap: 10rem;
    padding: 0;
    margin: 0;
  }
}
</style>
<ul>
  <li><a href="/diensten">Diensten</a></li>
  <li><a href="/team">Team</a></li>
  <li><a href="/contact">Contact</a></li>
</ul>