<style>
.socials {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  margin-bottom: 1rem;
}

.socials a img {
  width: 40px;
}
</style>
<div class="socials">
  <a href="https://www.linkedin.com/company/codefounders" rel="noopener" target="_blank"><img alt="linkedin" src="/assets/images/socials/linkedin.png" /></a>
  <a href="https://twitter.com/CodeFoundersNL" rel="noopener" target="_blank"><img alt="twitter" src="/assets/images/socials/twitter.png" /></a>
  <a href="https://www.instagram.com/codefoundersnl" rel="noopener" target="_blank"><img alt="instagram" src="/assets/images/socials/instagram.png" /></a>
  <a href="https://www.reddit.com/user/CodeFoundersNL" rel="noopener" target="_blank"><img alt="reddit" src="/assets/images/socials/reddit.png" /></a>
</div>