---
import Footer from '../components/footer.astro';
import NavMenu from '../components/nav-menu.astro';
let title = 'Code.Founders_';

// Create timestamp for deploy preview__s to show when last built/updated
const timestamp = process.env.DEPLOY_preview__ === 'true' ?
    new Intl.DateTimeFormat(
        "nl-NL",
        {
            year: "numeric",
            month: "short",
            day: "numeric",
            hour: "2-digit",
            minute: "2-digit",
            timeZoneName: "short",
        }
    ).format(new Date()) : null;
---
<style>
.nav-mobile {
    background-color: var(--color-primary-grey);
}
rev-drawer {
    display: flex;
}
</style>
<html lang="en">
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Code.Founders. If you can code, you can do anything.">
    <meta name="author" content="Code.Founders_">
    <meta name="keywords" content="code, founders, educatie, traineeship, bootcamp, docenten, leraren, leerlingen, studenten, IT, programmeren, coderen">
    <meta name="theme-color" content="#00cc99">
    <meta name="twitter:title" content="Code.Founders_ | If you can code, you can do anything">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@CodeFoundersNL">
    <meta name="twitter:creator" content="@divRIOTS">
    <meta name="twitter:image" content="https://codefounders.nl/assets/meta-image.jpg">
    <meta property="og:type" content="website">
    <meta property="og:locale" content="nl-NL">
    <meta property="og:site" content="https://codefounders.nl/">
    <meta property="og:site_name" content="Code.Founders_">
    <meta property="og:title" content="Code.Founders_ | If you can code, you can do anything">
    <meta property="og:description" content="Code.Founders. If you can code, you can do anything.">
    <meta property="og:image" content="https://codefounders.nl/assets/meta-image.jpg">
    <meta property="og:image:alt" content="Display picture of Code.Founders_">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />

    <link rel="stylesheet" href="/style/global.css">
    <link rel="stylesheet" href="/style/home.css">
    <script hoist type="module">
        import '@divriots/rev/drawer/rev-drawer.js';
    </script>
</head>
<body>
    {timestamp ?
        <span style="color: white; position: absolute; top: 65px; left: 8px; z-index: 1;">
            preview__ last updated: {timestamp}
        </span>
        : ''
    }
    <header>
        <div class="header-container">
            <rev-drawer side="left" breakpoint="1200">
                <button class="hamburger" slot="invoker">
                    <div class="hamburger-icon"></div>
                </button>
                <nav class="nav-mobile" slot="content">
                    <NavMenu></NavMenu>
                </nav>
            </rev-drawer>
            <a href="/" class="header-logo" aria-label="home">
                <img alt="codefounders logo" src="/assets/images/logo/logo.png" />
            </a>
            <nav class="nav-desktop">
                <NavMenu></NavMenu>
            </nav>
            <div class="search-placeholder"></div>
        </div>
    </header>
    <main>
    <slot />
    </main>
    <Footer></Footer>
    <div class="copyright">
        <p>Privacybeleid - Gebruiksvoorwaarden - Disclaimer - © 2021 codefounders.nl | Webdesign: Myrthekoppelaar.nl | All Rights Reserved</p>
    </div>
</body>
</html>
